<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mon Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h1>Dashboard Analyse Réseau</h1>

  <button onclick="afficherFormulaire()">Ouvrir les options</button>
  <button onclick="generer()">Générer le graphique</button>

  <!-- Formulaire caché par défaut -->
  <div id="formulaire" style="display:none; border:2px solid #333; padding:20px; margin:20px 0; background-color:#f9f9f9;">
    <h2>Options d'analyse</h2>
    <button onclick="fermerFormulaire()" style="float:right; background-color:#ff6b6b; color:white; border:none; padding:5px 10px; cursor:pointer;">✕</button>
    
        <p id="formulaire">Hello </p>
 </div>
 <!--   fin du formulaire-->
      

  <p id="chargement">Génération en cours...</p>
  <p id="erreur"></p>

  <div id="graphique" style="width:100%; height:600px;"></div>

  <script>
    function afficherFormulaire() {
      document.getElementById('formulaire').style.display = 'block';
    }

    function fermerFormulaire() {
      document.getElementById('formulaire').style.display = 'none';
    }


    async function generer() {
      // Affiche le message de chargement
      document.getElementById('chargement').style.display = 'block';
      document.getElementById('graphique').style.display = 'none';
      document.getElementById('erreur').textContent = '';

      const res = await fetch('/generer', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({})
      });

      const data = await res.json();

      document.getElementById('chargement').style.display = 'none';

      if (data.success) {
          const fig = JSON.parse(data.graphique);
          const div = document.getElementById('graphique');
          div.style.display = 'block';  // ← réaffiche le div
          Plotly.newPlot('graphique', fig.data, fig.layout);
      } else {
          document.getElementById('erreur').textContent = 'Erreur : ' + data.error;
      }
    }
  </script>
</body>
</html>